<div class="quests">
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="card text-center">
                    <div class="form-group" style="margin: 10px;">
                        <input type="text" class="form-control" id="formSpendAmount" placeholder="Amount">
                        <input type="text" class="form-control" id="formVendorAmount" placeholder="Vendor">
                        <textarea class="form-control" id="formSpendDescription" rows="3"
                            placeholder="Description"></textarea>
                        </br>
                        <div>
                            <button type="button" class="btn btn-success" data-dismiss="modal"
                                onclick=sendSpend()>Spend</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>